<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/result.css" rel="stylesheet"
          type="text/css"/>
    <script src="../../static/js/result.js"></script>
</head>
<body>
<div class="personalInfo">
    <img src="../../static/img/avatar.png">
    <div class="personalInfoContent">
        <span>客户姓名：李嬷嬷</span>
        <p>客户身份证号：12312312331222322</p>
    </div>

</div>
<div class="searchPart">
    <span>还可以查询以下信息?</span>
    <a href="#" id="houseInfo">房产</a>、
    <a href="#" id="carInfo">车产</a>
    <div class="houseInfo">
        <input type="text" placeholder="请输入房产信息">
        <button id="search">搜索</button>
    </div>
</div>
<div class="result">
    <div class="searchResult row">
        <div class="col-md-3"><p>基本信息</p></div>

        <table>
            <tr>
                <td>姓名</td>
                <td>123</td>
            </tr>
            <tr>
                <td>helljjk</td>
                <td>234234</td>
            </tr>
            <tr>
                <td>23423</td>
                <td>4234234</td>
            </tr>
            <tr>
                <td>234234</td>
                <td>234234</td>
            </tr>

        </table>


    </div>
</div>


</body>
</html>