<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="panel b-a base_info">
    <div class="panel-heading b-b"><span class="font-bold font-15 text-dark"> 基本信息</span></div>
    <div class="panel-body text-sm">
        <ul class="company-base">
            <li><label style="width:120px;">统一社会信用代码： </label></li>
            <li><label>注册号： </label>110108012660422</li>
            <li><label style="width:105px;">组织机构代码： </label>55138508-2</li>
            <li><label>经营状态：</label>开业</li>
            <li><label>公司类型：</label>${company_type}</li>
            <li><label>成立日期：</label>2010-03-03</li>
            <li><label>法定代表人：</label><a href="/search?key=雷军&amp;index=4" class="text-primary">雷军</a> <a
                    onclick="findRelation('雷军')"> <span class="find-btn" style="margin-top:-5px;"><i
                    class="fa   fa-plus-circle"></i></span> </a></li>
            <li><label>注册资本：</label>185000 万元</li>
            <li><label>营业期限：</label>2010-03-03 至 2030-03-02</li>
            <li><label>登记机关：</label>海淀分局</li>
            <li><label>发照日期：</label>2016-06-07</li>
            <li><label>所属行业：</label>
                科技推广和应用服务业
            </li>
            <li><label>英文名：</label>
                Xiaomi Inc.
            </li>
            <li style="width:100%"><label>曾用名： </label> <span>北京小米科技有限责任公司&nbsp;&nbsp;</span></li>
            <li class="comp-gen-txarea"><label>企业地址： </label>北京市海淀区清河中街68号华润五彩城购物中心二期13层</li>
            <li class="comp-gen-txarea"><label>经营范围：</label>
                手机技术开发；手机生产、手机服务；（限海淀区永捷北路2号二层经营）从事互联网文化活动；技术开发；货物进出口、技术进出口、代理进出口；销售通讯设备；维修仪器仪表；维修办公设备；承办展览展示活动；会议服务；筹备、策划、组织大型庆典；设计、制作、代理、发布广告。（企业依法自主选择经营项目，开展经营活动；依法须经批准的项目，经相关部门批准后依批准的内容开展经营活动；不得从事本市产业政策禁止和限制类项目的经营活动。）
            </li>
        </ul>
    </div>
</section>
</body>
</html>